@import "ui/pages/home/homepage.scss";
.navBar {
  .navWelcomeText {
    padding-right: 10px;
  }
}

.custom-input-error {
  padding-top: 5px;
  font-style: normal;
  font-weight: normal;
}

.staffInBranchList {
  list-style-type:none;
  padding-left: 0;
}