@import "ui/pages/home/homepage.scss";
@import './ui/pages/booking/booking.scss';

.navBar {
  margin-bottom: 15px;
  .navWelcomeText {
    padding-right: 10px;
  }
}

.custom-input-error {
  padding-top: 5px;
  font-style: normal;
  font-weight: normal;
}

.staffInBranchList {
  list-style-type:none;
  padding-left: 0;
}

.page-heading {
  padding-top: 20px;
  padding-left: 60px;
}

.carouselInner {
  height: 500px !important;
}