table {
    &.time-selector {
        display: block;
        overflow: scroll;
        overflow: auto;
        width: 100%;
        th,
        td {
            padding:0;
        }
    }
}

.element-heading {
    color: rgb(80, 80, 80);
    padding-top: 15px;
}

.text-area-padding {
    padding-top:20px;
}

.btn-confirm-padding {
    padding-left:60px;
}

.branch-selector {
    padding-bottom: 20px; 
}

.bold {
    font-weight: bold;
}