// Tables
table {
    &.time-selector {
        display: block;
        overflow: scroll;
        overflow: auto;
        width: 100%;
        padding-top: 15px;
        th,
        td {
            padding:0;
        }
    }
}

.table-heading {
    color: rgb(80, 80, 80);
}